:root {
  font-size: 1rem;

  --color-primary: #ff661f;
  --color-secondary: #fff;
  --color-font: #000;
  --color-shadow: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
i,
h1,
ol,
ul,
li {
  color: #0d0013;
  padding: 1rem 0;
}

ol,
ul,
li {
  padding: 0 1rem;
}

p,
ol,
li {
  font-size: 1.1rem;
  line-height: 25px;
}

i {
  font-size: 3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

/* Header CSS */
header {
  font-family: "Inter", sans-serif;
  height: 70px;
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
  width: max-content;
}

.header-logo img {
  display: flex;
  align-items: center;
  width: 50px;
}

.header-logo a {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #ff661f;
  margin: 0 0 0 10px;
}

/* Footer CSS */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  background-color: #ffdec6;
  background-image: url(../imgs/blob-img-2.svg);
  background-repeat: no-repeat;
  background-position: 195% -80px;
  background-size: 75%;
  background-position: 230% -65px;
  background-size: 75%;
}

.footer-nav a {
  text-decoration: none;
  font-size: larger;
  justify-content: center;
  color: #000000;
  padding: 12px;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-creds {
  display: flex;
  width: 100%;
  height: 100px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-creds p {
  display: inline;
  width: 100%;
  font-size: 1rem;
}

.brand-name-foot {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand-name-foot p {
  display: flex;
  font-weight: 800;
  font-size: 2.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-name a {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: x-large;
  font-family: "Inter", sans-serif;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.nav-ul-mobile li {
  display: inline-block;
  font-size: large;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  padding: 10px;
}

.nav-ul-mobile a {
  width: 100%;
}

.nav-ul-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #000000c9;
  backdrop-filter: blur(5px);
  box-shadow: -1px 0 10px #000;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

ul li {
  padding: 0;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 20px 0px #c0c0c0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav li {
  height: 50px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

nav a {
  margin: 0 30px;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  color: #ff661f;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.menu-button {
  display: none;
  align-items: center;
  color: #ff661f;
}

.banner-fold {
  background: #fed7c1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.banner-fold-col {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-fsl {
  font-size: larger;
  font-weight: 500;
  padding: 25px 0;
  width: 35%;
}
.banner-fsl h2 {
  color: orangered;
  font-size: 3rem;
  text-shadow: 2px 2px 2px #050505;
}
.banner-fsr {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
}

.hero-fold {
  color: #000;
  text-align: center;
  width: auto;
  padding: 30px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-fold-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding: 0 20px;
  width: 50%;
  height: 100%;
  justify-content: space-evenly;
}

.hero-fold-h1 h1 {
  font-size: 4rem;
}

.hero-fold-h1 p {
  width: 100%;
  font-size: 18px;
}

.hero-fold button {
  color: rgb(0, 0, 0);
  background-color: var(--color-primary);
  border: none;
  height: 60px;
  width: 150px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  border: 2px solid #000;
  box-shadow: 3px 3px 0px 0px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
}

.hero-fold button:hover {
  box-shadow: #000000;
  cursor: pointer;
}

.hero-fold-grid {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: row;
  border-radius: 10%;
  text-align: center;
  align-items: center;
  column-gap: 10px;
}

.hero-fold-buttons {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  width: 100%;
}

.hero-fold-img {
  display: flex;
  width: 45%;
}

.fold-2 {
  padding: 50px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.fold-2-content {
  width: 45%;
}
.fold-2-content h2 {
  width: 100%;
  text-align: center;
  font-size: 32px;
  padding: 20px 0;
}
.fold-2-content p {
  width: 100%;
}
.fold-2-content li {
  padding: 10px 0;
}

.fold-2-img {
  width: 40%;
}

.fold2-5 {
  padding: 50px 20px;
}
.fold2-5-content {
  padding: 25px 20px;
  text-align: center;
}
.fold2-5-content h2 {
  color: orangered;
  text-shadow: 2px 2px 0px #000;
  font-size: 3rem;
}
.f2-5-content-carousal {
  display: flex;
  justify-content: space-evenly;
}
.f2-5-img-carousal {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
}
.f2-5-img-carousal img {
  width: 70%;
}
.f2-5-svg-btn-left, .f2-5-svg-btn-right {
  display: flex;
  width: 5%;
  justify-content: center;
  align-items: center;
}
.f2-5-svg-btn-left img, .f2-5-svg-btn-right img {
  cursor: pointer;
}
.f2-5-cc-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  flex-direction: row;
  width: 45%;
}
.f2-5-cc-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  text-align: center;
  width: 85%;
  background: bisque;
  margin: 20px;
  border: 2px solid;
  border-radius: 12px;
  box-shadow: 5px 5px;
}
.f2-5-cc-2 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  text-align: center;
  width: 85%;
  background: bisque;
  margin: 20px;
  border: 2px solid;
  border-radius: 12px;
  box-shadow: 5px 5px;
}
.f2-5-cc-3 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 10px;
  text-align: center;
  width: 85%;
  background: bisque;
  margin: 20px;
  border: 2px solid;
  border-radius: 12px;
  box-shadow: 5px 5px;
}

.fold-3 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff5ee;
}
.fold-3 h2 {
  padding: 25px 20px;
  text-align: center;
}
.fold-3-content {
  padding: 25px 20px;
}

.fold-3-5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 20px;
  width: 100%;
  background-color: #ffc281;
}
.fold3-5-lhs {
  width: 100%;
  padding: 25px 20px;
  text-align: center;
}
.fold-3-5-content {
  padding: 25px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.fold3-5-c1, .fold3-5-c2, .fold3-5-c3 {
  display: flex;
  flex-direction: column;
  width: 28%;
  align-items: center;
  text-align: center;
  border: 2px solid;
  padding: 20px 15px;
  border-radius: 15px;
  box-shadow: 5px 5px;
  background-color: #fff;
}
.fold3-5-c1 img, .fold3-5-c2 img, .fold3-5-c3 img {
  width: 30%;
  padding: 10px 0;
}
.fold3-5-c1 button, .fold3-5-c2 button, .fold3-5-c3 button {
  width: 120px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px #000;
  background-color: #ff661f;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.fold-4 {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.fold-4-h2 {
  text-align: center;
}
.fold-4-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.fold-4-h3-p {
  width: 45%;
  padding: 25px 0;
}
.fold-4-cont-img {
  display: flex;
  width: 45%;
}
.fold-4-hide-seek-con,
.fold-4-hide-seek-con1, 
.fold-4-hide-seek-con2, 
.fold-4-hide-seek-con3,
.fold-4-hide-seek-con4 {
  border-bottom: 2px solid;
  border: 2px solid;
  border-radius: 12px;
  box-shadow: 3px 3px;
  background: #fed7c1;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
  flex-direction: column;
}

.fold-4-hide-seek-con h3,
.fold-4-hide-seek-con1 h3, 
.fold-4-hide-seek-con2 h3, 
.fold-4-hide-seek-con3 h3,
.fold-4-hide-seek-con4 h3 {
  cursor: pointer;
  padding: 5px 0;
  text-align: center;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.fold-4-hide-seek-con p, 
.fold-4-hide-seek-con1 p, 
.fold-4-hide-seek-con2 p, 
.fold-4-hide-seek-con3 p,
.fold-4-hide-seek-con4 p {
  display: none;
  text-align: center;
}

.clsng-cta {
  padding: 50px 25px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  color: orange;
}
.clsng-cta-content {
  padding: 50px 25px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: orange;
}
.clsng-cta-content h2 {
  z-index: 99;
}
.clsng-cta-content p{
  color: #fff;
  z-index: 99;
}

.FAQ-sec {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.FAQ-sec-header {
  padding: 25px;
}
.faq-content-fold {
  padding: 25px;
  width: 65%;
}
.faq-qna {
  border-top: 2px solid;
  padding: 25px 0;
}

/* ADDITIONALS */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
}

/* Add this media query for screens below 600px */
@media (max-width: 600px) {
  .nav-ul-mobile {
    display: flex;
    /* Hide the navigation links by default on small screens */
    margin: 0;
  }

  .burger-icon {
    display: flex;
    /* Show the burger icon */
  }

  /* Add styles for the navigation links when the burger icon is clicked */
  .nav-ul.show {
    display: flex;
    flex-direction: column;
  }

  /* Style for the burger icon (you can customize this based on your design) */
  .burger-icon:before {
    content: '\2630';
    /* Unicode character for the burger icon */
    font-size: 24px;
  }

  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 600px) {
  header {
    flex-direction: row;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    background-color: #ffdec6;
    background-image: url(../imgs/blob-img-2.svg);
    background-repeat: no-repeat;
    background-position: 230% -65px;
    background-size: 75%;
  }

  .menu-button {
    display: flex;
  }

  .nav-ul {
    display: none;
  }

  .nav-ul-mobile {
    text-align: center;
    display: none;
  }

  .header-row-desk {
    display: none;
  }

  .nav-ul-mobile li {
    display: block;
    padding: 10px 0px;
  }

  .hero-fold-grid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .hero-fold {
    height: auto;
    font-size: 2.15rem;
    color: #000000;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
  }

  .hero-fold button {
    width: 125px;
  }

  .hero-fold-buttons {
    padding: 25px 0;
  }

  .hero-fold-h1 {
    text-align: center;
    padding: 0;
    width: 100%;
  }

  .hero-fold-h1 h1 {
    font-size: 2.6rem;
  }

  .hero-fold-img {
    display: flex;
    width: 95%;
    margin: 30px 0;
  }

  .hero-fold p {
    font-size: 1.125rem
  }

  .fold-2 {
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .fold-2-content {
    width: 100%;
    padding: 20px 0;
  }

  .fold-2-img {
    width: 90%;
  }

  .fold-3-5-content {
    padding: 25px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .fold3-5-c1, .fold3-5-c2, .fold3-5-c3 {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .fold-4-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .fold-4-h3-p {
    width: 100%;
    padding: 25px 0;
  }
  .fold-4-cont-img {
    display: flex;
    width: 85%;
  }

  .banner-fold {
    background: #fed7c1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .banner-fold-col {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-fsl {
    font-size: larger;
    font-weight: 500;
    padding: 25px 0;
    width: 90%;
  }
  .banner-fsr {
    width: 100%;
    padding: 0;
  }

  .f2-5-content-carousal {
    display: flex;
    flex-direction: column;
  }
  .f2-5-img-carousal {
    width: 100%;
  }
  .f2-5-cc-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    width: 100%;
  }

  .FAQ-sec-header {
    padding: 25px 0;
    text-align: center;
  }
  .faq-content-fold {
    padding: 25px 0;
    width: 100%;
  }
  .faq-qna {
    border-top: 2px solid;
    padding: 25px 0;
  }
}