*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: #e5eaff;
}

.head-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.8rem;
    color: #000000;
    text-shadow: #fff 0 2px 5px;
    background: linear-gradient(to bottom, rgb(166, 216, 255)30%, rgb(255, 174, 219));
    height: 296px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 45px;
}

.quote-container {
    height: 50rem;
    width: auto;
    margin: 1rem 0 2rem 0;
}

.quote-box{
    background: #ffffff;
    width: auto;
    top:25%;
    left:50%;
    margin: 2rem 1rem 2rem 1rem;
    padding:40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
}
.quote-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%);
}
.quote-box blockquote{
    font-size: 26px;
    min-height: 110px;
}
.quote-box blockquote::before, .quote-box blockquote::after{
    content: '"';
}
.quote-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.quote-box span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.quote-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.quote-box button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.quote-box button img{
    width: 20px;
    margin-right: 10px;
}
.quote-box button:nth-child(2){
    background: transparent;
    color: #333;
}

@media only screen and (max-width: 451px) {
  
} 
@media only screen and (max-width: 766px) {
    
} 