*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: #fff;
}

.tools-display-container{
    height: 75rem;
    padding: 0px 0px 150px 0px;
}

.tools-hero-fold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #0a0258;
    background: linear-gradient(to bottom, rgb(255, 179, 179)30%, rgb(36, 36, 255));
    height: 396px;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 45px;
}
.tools-hero-fold h1 {
    font-family: initial;
    font-size: 2.95rem;
    text-align: center;
    width: 90%;
}
.tools-hero-fold p {
    font-size: 1.5rem;
    text-align: center;
    color: rgb(252, 252, 252);
    font-family: sans-serif;
    font-weight: 500;
    padding: 0rem 1.2rem;
}
.tools-hero-fold-2 {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tools-hero-fold-2 h2 {
    padding: 4.5rem;
    font-size: 2.5rem;
    text-align: center;
    font-family: sans-serif;
}
.tools-container-fold {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-evenly;
    flex-direction: row;
}
.tools-container {
    border: 5px #0a0258;
    border-radius: 25px;
    height: 14rem;
    width: 30rem;
    background: #ffd278;
    margin: 1.5rem;
    box-shadow: 10px 10px rgb(15, 71, 90);
}
.tools-container a {
    text-decoration: none;
    color: #000;
}

.tool-conta-head-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-container h3 {
    padding: 2rem;
    text-align: center;
    font-size: 20px;
}
.tools-container p {
    padding: 1rem 1.5rem 1rem 2rem;
    font-size: 1.2rem;
}
/* .tools-container img {
    position: absolute;
    padding: 15px 0px 0px 55px;
} */

@media screen and (max-width:768px) {
   .tools-container {
    border: 5px #0a0258;
    border-radius: 25px;
    height: 13rem;
    width: 80%;
    background: #ffd278;
    margin: 1.5rem;
 }
 .tools-container h3 {
    padding: 1.25rem 0.5rem;
    text-align: center;
    font-size: 20px;
}
 .tools-container img {
    position: relative;
    padding: 0;
    height: 40px;
}
.tools-display-container{
    height: 95rem;
    padding: 0px 0px 150px 0px;
}
}
@media screen and (max-width:1111px) {
    .tools-container {
     border: 5px #0a0258;
     border-radius: 25px;
     height: 13rem;
     width: 80%;
     background: #ffd278;
     margin: 1.5rem;
  }
  .tools-container h3 {
    padding: 1.25rem 0.5rem;
    text-align: center;
    font-size: 20px;
}
  .tools-container img {
    position: relative;
    padding: 0;
    height: 40px;
 }
 .tools-display-container{
     height: 95rem;
     padding: 0px 0px 150px 0px;
 }
 .tool-conta-head-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
 }
@media screen and (max-width:500px) {
    .tools-container {
     border: 5px #0a0258;
     border-radius: 25px;
     height: 13rem;
     width: 80%;
     background: #ffd278;
     margin: 1.5rem;
  }
  .tools-container h3 {
    padding: 1.25rem 0.5rem;
    text-align: center;
    font-size: 20px;
}
  .tools-container img {
    position: relative;
    padding: 0;
    height: 40px;
 }
 .tools-hero-fold-2 h2 {
    padding: 5rem 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-family: sans-serif;
}
.tools-display-container{
    height: 95rem;
    padding: 0px 0px 150px 0px;
}
.tool-conta-head-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
}
@media screen and (max-width:324px) {
    .tools-container {
     border: 5px #0a0258;
     border-radius: 25px;
     height: 13rem;
     width: 80%;
     background: #ffd278;
     margin: 1.5rem;
  }
  .tools-container h3 {
    padding: 1.25rem 0.5rem;
    text-align: center;
    font-size: 20px;
}
  .tools-container img {
    position: relative;
    padding: 0;
    height: 40px;
 }
 .tools-display-container{
     height: 95rem;
     padding: 0px 0px 150px 0px;
 }
 .tool-conta-head-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
 }