header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    width: auto;
    z-index: 95;
  }
footer {
  display: block;
  height: 150px;
  background-color: #000;
}

  body {
    margin: 0px;
    background-color: #2d3250;
    font-family: 'Quicksand';
    color: #000000;
  }

  .logo-name a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    font-weight: 700;
    text-decoration: none;
  }
  
  .nav-ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } 
  .nav-ul li {
    display: inline-block;
    font-size: large;
    font-weight: bold;
    font-family: 'quicksand';
    padding: 10px;
  }
  .nav-ul a {
    text-decoration: none;
    color: #000;
  }
  .nav-ul a:hover {
    color: #ff8000;
  }
  .nav-ul-mobile {
    display: none;
  }

  .hero-fold {
    color: #ffffff;
    text-align: center;
    width: auto;
    padding-top: 65px;
    padding-bottom: 45px;
  }
.hero-fold h1 {
      display: flex;
      justify-content: center;
      font-size: 4.15rem;
      color: #ffffff;
    }
.hero-fold button {
      color: rgb(0, 0, 0);
      background-color: #e59268;
      border: none;
      height: 60px;
      font-weight: 900;
      font-size: 16px;
      font-family: 'quicksand';
      width: 15rem;
      border-radius: 10px;
    }
.hero-fold button:hover {
  box-shadow: #000000;
  cursor: pointer;
}

.global-padding {
      padding: 0% 5% 0% 5%;
      margin: 0%;
    }
.hero-fold p{
    font-size: 1.75rem;
    color: #fff;
    padding: 25px;
  }
.hero-fold-grid {
  width: 100%;
  height:auto;
  display: grid;
  grid-template-columns: 9fr 1.75fr;
  border-radius: 10%;
  text-align: center;
  align-items: center;
  column-gap: 10px;
}
.hero-fold-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  justify-items: center;
  width: 100%;
}

.fold-2 {
    padding: 65px 0px 45px 0px;
    background-color: #fff;
    color: #000;
}
.fold-2 h2 {
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
}
.fold-2 p {
  font-size: 1.25rem;
}
.fold-2 button {
  color: rgb(0, 0, 0);
  background-color: #e59268;
  border: none;
  height: 60px;
  font-weight: 600;
  width: 250px;
  font-size: 25px;
  border-radius: 10px;
}
.fold-2 a {
  text-decoration: none;
  display: flex;
  padding-top: 35px;
  justify-content: center;
  font-size: 2rem;
}

.fold-3{
  padding: 1rem 0rem 1rem 0rem;
  background-color: white ;
}
.fold-3 h2{
  font-size: 2.5rem;
  margin: 0%;
  padding-bottom: 45px;
  text-align: center;
}
.fold-3 h3{
  font-size: 1.75rem;
}
.fold-3 p {
  font-size: 1.25rem;
}
.fold-3 button {
  color: rgb(0, 0, 0);
  background-color: #e59268;
  border: none;
  height: 60px;
  font-weight: 600;
  width: 250px;
  font-size: 25px;
  border-radius: 10px;
}
.fold-3 a {
  text-decoration: none;
  display: flex;
  padding-top: 35px;
  padding-bottom: 5%;
  justify-content: center;
  font-size: 2rem;
}
.fold-3 li {
  font-size: larger;
  font-weight: 600;
}
.fold-3-block {
  
}

.burger-icon {
  display: none; /* Initially hide the burger icon */
  cursor: pointer;
}

.fold-4{
  padding: 1rem 0rem 1rem 0rem;
  background-color: white ;
  margin: 0%;
  border: 0%;
  height: 450px;
}
.fold-4 h2{
  margin: 0%;
  text-align: center
}
.fold-4-container {

}

/* Add this media query for screens below 600px */
@media only screen and (max-width: 600px) {
  .nav-ul-mobile {
    display: none; /* Hide the navigation links by default on small screens */
  }

  .burger-icon {
    display: flex; /* Show the burger icon */
  }

  /* Add styles for the navigation links when the burger icon is clicked */
  .nav-ul.show {
    display: block;
  }

  /* Style for the burger icon (you can customize this based on your design) */
  .burger-icon:before {
    content: '\2630'; /* Unicode character for the burger icon */
    font-size: 24px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .nav-ul {
    display: none;
  }

  .nav-ul-mobile {
    text-align: center;
    display: none;
  }

  .nav-ul-mobile li {
    display: block;
    padding: 10px 0px;
  }

  .hero-fold-grid {
    display: block;
  }

  .hero-fold p {
    font-size: 1.5rem
  }
  .hero-fold {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hero-fold button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    height: 4rem;
    font-size: 16px;
    font-weight: 700;
    width: 9rem;
    border-radius: 10px;
  }

  .fold-2 button,
  .fold-3 button, {
    width: 100%;
    font-size: 1rem;
  }
  .fold-2 a,
  .fold-3 a, .hero-fold a {
    padding: 0%;
  }
  .hero-fold-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .global-padding {
    padding: 0% 2.5% 0% 2.5%;
    margin: 0%;
  }

  .hero-img {
    height: 275px;
    display: flex;
    align-items: start;
  }
  .hero-fold-grid p {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .hero-fold-grid h1 {
    font-size: 2rem;
  }
}